.controls {
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 400;
    color: white;
    padding: 2px;
    display: flex;
}

.controls > button {
    padding: 6px 10px;
    width: 30px;
    text-align: center;
}

.bottom {
    bottom: 0px;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px 0;
    border: 1px white solid;
    text-align: center;
    color: white;
}